/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "skippr";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container{
  height: 500px;
}

.image1 {
  background-image: url('../images/test1.jpg');
}
.image2 {
  background-image: url('../images/test2.jpg');
}
.image3 {
  background-image: url('../images/test3.jpg');
}
.image4 {
  background-image: url('../images/test4.jpg');
}
.image5 {
  background-image: url('../images/test5.jpg');
}

header {
  height: 70px;
  background-color: #EC715F;
  display: flex;
  justify-content: center;
}

.contain {
  width: 1024px;
  height: 70px;
  display: flex;
}

ul{
  list-style: none;
  height: 70px;
  display: flex;
  margin-left: auto;
  align-items: center;
}

li {
  font-size: 16px;
  margin: 30px;
}

a {
  color: #FAFAFA;
  text-decoration: none;
}


.main-image {
  height: 650px;
  background-image: url("../images/mv.png");
  background-size: cover;
  background-position: center;
}

.intext{
  text-align: center; /* 文字を中央揃えにする */
  padding-top: 200px; /* 上側の内側余白で垂直方向の位置を調整 */
}

.main-image-text{
  font-size: 64px;
  color: #FAFAFA;
}

.main-image-sub{
  font-size: 20px;
  color: #FAFAFA;
}

main {
  display: flex;
  justify-content: center;
}

.contai{
  width: 960px;
  text-align: center;
}

.hh{
  font-size: 32px;
  margin-top: 90px;
  margin-bottom: 8px;
  color: #000000;
}

hr{
  height: 3px;
  width: 70px;
  color: #EC715F;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.bb{
  margin-bottom: 30px;
}

footer{
  height: 60px;
  background-color: red;
}
